body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    /* background: linear-gradient(to bottom, #282c35 72px, #9c8c79); */
    background-repeat: no-repeat;
    background-color: #17181c;

    color: #eee;
    font-family: Arial, sans-serif;
    line-height: 1.6;

    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    background: #1b1f28;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    border-bottom: 4px solid #0e1117;
    padding: 0.6rem;
    transition: background 0.5s;
    z-index: 100;
}

header:has(.nav-title:hover) {
    background: #20242e;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-title img {
    height: 36px;
    display: block;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.nav-left a, .nav-right a {
    color: #fff;
    text-decoration: none;
}

.nav-button {
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.nav-button img {
    display: block;
    height: 24px;
    image-rendering: pixelated;
}

.nav-button .button-shadow {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.nav-button .button-image {
    position: relative;
    display: block;
    z-index: 1;
}

.nav-button:hover .button-image,
.nav-button:focus-visible .button-image {
    transform: translate(2px, 2px);
}

.nav-menu-container {
    display: none;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.nav-menu-container {
    height: 24px;
}

.nav-menu-dropdown {
    display: none;
}

.nav-menu-dropdown a {
    color: #fff;
    text-decoration: none;
}

.nav-menu-dropdown.show {
    display: block;
    position: absolute;
    background: #9c8c79;
    border: 4px solid #6a6055;
    padding: 0.5rem;
    z-index: 10;
}

main {
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;

    flex: 1;
    min-height: 0;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3f4d6a #0e1117;
    scrollbar-gutter: stable;
}

.main-content {
    margin: auto;
    max-width: 1280px;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 3rem;
}

.goals-page {
    display: flex;
    gap: 2rem;
}

.goals-sidebar {
    position: sticky;
    align-self: flex-start;
    top: 0px;
    width: 300px;
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
    box-sizing: border-box;

    background: #14161d;
    border: 4px solid #0e1117;
    border-radius: 8px;
    padding: 1rem;

    scrollbar-width: thin;
    scrollbar-color: #3f4d6a #0e1117;
}

.goals-content {
    flex: 1;
}

.goal-search input {
    width: 100%;
    box-sizing: border-box;
    background: #111;
    border: 2px solid #0e1117;
    border-radius: 8px;
    color: #fff;
    padding: 0.4rem;
}

.goal-counts {
    margin-top: 1rem;
    color: #777;
}

.goal-counts .filtered-count {
    color: #ddd;
    font-weight: bold;
}

.reset-filters button {
    background-color: #393c4040;
    border: 2px solid #393c40;
    border-radius: 8px;
    color: #ddd;
    font-weight: bold;

    margin-top: 0.5rem;
    padding: 0.2rem 1.4rem;
    cursor: pointer;
}

.difficulty-range {
    position: relative;
    height: 24px;
}

.difficulty-slider-track {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    border-radius: 4px;
    background: linear-gradient(to right, #264653, #2a9d8f, #e9c46a, #f4a261, #e76f51, #f34242);
}

.difficulty-range input[type="range"] {
    position: absolute;
    inset: 0;
    margin: 0;
    width: 100%;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    pointer-events: none;
}

.difficulty-range input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #3f4d6a;
    border: 2px solid #000;

    appearance: none;
    -webkit-appearance: none;
    pointer-events: auto;
}

.difficulty-range input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #3f4d6a;
    border: 2px solid #000;

    appearance: none;
    -webkit-appearance: none;
    pointer-events: auto;
}

.goal-filter {
    margin-top: 1rem;
}

.goal-filter h3 {
    margin: 0 0 0.3rem;
    padding: 0;
}

.goal-filter div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.filter-button {
    background-color: var(--button-bg-base);
    font-weight: bold;
    padding: 0.25rem 0.6rem;
    border-radius: 8px;
    border: 2px solid;
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--button-bg-hover);
}

.filter-button.active {
    background-color: var(--button-bg-active) !important;
}

.goals-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.goals-toolbar select {
    background-color: #14161d;
    color: #adadad;
    font-weight: bold;

    padding: 0.23rem 0.8rem;
    border: 4px solid #0e1117;
    border-radius: 0px;
    cursor: pointer;
}

.goals-toolbar section:focus {
    outline: none;
    background-color: #1b1e27;
}

.goals-toolbar select:focus-visible {
    outline: none;
    background-color: #1b1e27;
}

.goal-view-buttons {
    background-color: #14161d;
    display: flex;
    border: 4px solid #0e1117;
}

.goal-view-buttons button {
    background-color: #14161d;
    color: #adadad;
    font-weight: bold;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0px;
    height: 1.5rem;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.goal-view-buttons button:hover{
    background-color: #1b1e27;
}

.goal-view-buttons button.active{
    background-color: #1c233d;
}

.goal-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 0.5rem;
}

.goal-list.list {
    grid-template-columns: 1fr;
}

.goal-list.icon {
    grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
}

.goal-card {
    background: #14161d;
    border: 4px solid #0e1117;
    border-radius: 2px;
    padding: 4px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.goal-header {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 1rem;
}

.goal-icon-wrapper {
    position: relative;
    width: 72px;
    height: 72px;
}

.goal-icon {
    background: #0e1117;
    border: 2px solid #111;
    padding: 4px;
    box-sizing: border-box;

    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

.goal-icon-count {
    position: absolute;
    pointer-events: none;
    right: 2px;
    bottom: -11px;

    font-family: "Minecraft", monospace;
    font-size: 32px;
    text-align: right;
    color: #fff;
    text-shadow: 3px 3px #37373780;
}

.goal-info h3 {
    margin: 0;
}

.goal-info small {
    display: block;
}

.goal-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.goal-tag-display {
    background-color: var(--button-bg-base);
    font-weight: bold;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    border: 2px solid;
}

.goal-icon-card {
    background: #14161d;
    border: 4px solid #0e1117;
    border-radius: 2px;
    padding: 4px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.goal-preview {
    position: fixed;
    display: none;
    width: auto;
    z-index: 200;
    filter: drop-shadow(0 4px 8px #000);
}

/* UPDATES */
.updates-page {
    display: flex;
    gap: 2rem;
}

.release-sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0px;

    background: #28292e;
    border: 4px solid #0e1117;
    border-radius: 8px;
    padding: 1rem;

    width: 500px;
    align-self: flex-start;
}

.release-sidebar h2 {
    margin: 0;
    padding: 0;
}

#release-list {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
}

#release-list li {
    display: flex;
    margin: 0;
    padding: 0.2rem 1rem;
    border-radius: 8px;

    color: #aaa;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#release-list li:hover {
    color: #fff;
    background: #3b3c43;
}

#release-notes {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.release {
    margin: 0;
    padding: 2rem;
    background: #28292e;
    border: 4px solid #0e1117;
    border-radius: 8px;
}

.release h1 {
    margin: 0;
    font-family: "Minecraft";
}

.release small {
    position: relative;
    left: 1rem;
    top: -0.5rem;

    color: #777;
    font-weight: bold;
}

.latest-release-tag {
    position: relative;
    left: 2rem;
    top: -0.5rem;

    color: #deffde;
    background-color: #56c85640;
    border: 2px solid #56c856;
    border-radius: 8px;
    padding: 0.1rem 0.5rem;
    font-weight: bold;
}

.release-content {
    position: relative;
    color: #ccc;
    top: -0.5rem;
}

.release-content h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #777;

    color: #fff;
}

.release-content p+ul {
    margin-top: -0.5rem;
}

.release-content code {
    background: #1b1f28;
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
}

.release-content img {
    border-radius: 8px;
}

.release-content a {
    color: #4f9cff;
    text-decoration: none;
    transition: color 0.5s;
}

.release-content a:hover {
    color: #7abaff;
    text-decoration: underline;
}

@font-face {
    font-family: "Minecraft";
    src: url("../fonts/MinecraftRegular.woff2") format("woff2");
}

@media (max-width: 1000px) {
    .nav-menu-container {
        display: block;
    }

    .nav-left, .nav-right {
        display: none;
    }

    .goals-page {
        flex-direction: column;
    }

    .goals-sidebar {
        position: relative;
        width: 100%;
        max-height: none;
    }

    .release-sidebar {
        display: none;
    }
}