body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    line-height: 1.6;
}

header {
    background: #f0dfcd;
    border-bottom: 4px solid #a89681;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #333d4a;
    text-decoration: none;
    margin-right: 1rem;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 3rem;
}