body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    line-height: 1.6;
}

header {
    background: #1a1a1a;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 3rem;
}